<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="cn.cf.dao.B2bGradeDaoEx">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
	  pk, name, sort, isDelete, isVisable, insertTime,chineseName
	    ]]>
	</sql>

	<select id="getByName" resultType="cn.cf.dto.B2bGradeDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_grade where name = #{name}	OR chineseName = #{name} AND isDelete=1</select>
</mapper>

