<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bStoreDaoEx">


	<select id="storeIsOpen" resultType="cn.cf.dto.B2bStoreDto">
	 <![CDATA[
	 	SELECT
			*
		FROM
			b2b_store
		WHERE
			pk = #{pk}
		AND isOpen = 1
		AND startTime <= DATE_FORMAT(NOW(), '%H:%i')
		AND endTime >= DATE_FORMAT(NOW(), '%H:%i') 
	 ]]>		
	</select>
</mapper>

