<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bVarietiesDaoEx">


	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,parentPk
	    ]]>
	</sql>
	
	
	<select id="getByParentAndName" resultType="cn.cf.dto.B2bVarietiesDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_varieties where name = #{name}  AND isDelete=1
		<if test="parentPk != null and parentPk !='' ">
			and parentPk=#{parentPk}
		</if>
		<if test="noParent != null and noParent !=''">
			and parentPk != -1
		</if>
		order by sort desc
	</select>
	
	
	
	
	
</mapper>

