<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bWareDaoEx">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,insertTime,storePk,address,isDelete,wareCode,contactsTel,contacts,landline
	    ]]>
	</sql>
	
	<select id="getByName" resultType="cn.cf.model.B2bWare"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_ware where
		isDelete=1
		<if test="@Ognl@isNotEmpty(name)">
				AND name = #{name}
		</if>
		<if test="@Ognl@isNotEmpty(plantPk)">
				AND plantPk = #{plantPk}
		</if>
		<if test="storePk!=null and storePk!=''">
		and storePk = #{storePk}
		</if>
	</select>
	
</mapper>

