<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bBrandDaoEx">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,sort,isDelete,isVisable,insertTime
	    ]]>
	</sql>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(name)">
				AND name = #{name}			</if>
			<if test="@Ognl@isNotEmpty(sort)">
				AND sort = #{sort}			</if>
			<if test="@Ognl@isNotEmpty(isDelete)">
				AND isDelete = #{isDelete}			</if>
			<if test="@Ognl@isNotEmpty(isVisable)">
				AND isVisable = #{isVisable}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeBegin)">
				AND insertTime >= #{insertTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeEnd)">
				AND insertTime &lt;= #{insertTimeEnd}			</if>
				<if test="@Ognl@isNotEmpty(brandName)">
				AND name like '%${brandName}%'			</if>
		</where>
	</sql>

<select id="searchbrandNameBybrandPks" resultType="cn.cf.dto.B2bBrandDto"
		parameterType="java.util.Map">
	SELECT
		pk, name
		FROM b2b_brand
		where isDelete =1 and isVisable = 1
		<if test="brandPks != null and brandPks != ''">
			and pk in
			<foreach item="item" index="index" collection="brandPks"
					open="(" separator="," close=")">
					#{item}
			</foreach>
		</if>
</select>

	<select id="searchBrand" resultType="cn.cf.dto.B2bBrandDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_brand
		<include refid="searchGridWhere" />
		<if test="orderName != null">
			order by ${orderName} ${orderType}
		</if>
		<if test="limit != null">
			limit #{start},#{limit}
		</if>
	</select>
	
	<select id="searchBrandCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM b2b_brand
		<include refid="searchGridWhere" />
	</select>

</mapper>