<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bVarietiesDaoEx">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,sort,isDelete,isVisable,insertTime,parentPk
	    ]]>
	</sql>

	<select id="searchChList" resultType="cn.cf.dto.B2bVarietiesDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_varieties
		where isDelete = #{isDelete} and isVisable = #{isVisable} and parentPk != -1
		<if test="parentPks != null and parentPks != '-1'">
			and parentPk in
			<foreach item="item" index="index" collection="parentPks"
					open="(" separator="," close=")">
					#{item}
				</foreach>
		</if>
		<if test="name != null and name !=''">
			and name like '%${name}%'
		</if>
		order by sort desc
		<if test="start !=null">
			limit #{start},#{limit}
		</if>
	</select>
	
	<select id="searchChCount" resultType="int"
		parameterType="java.util.Map">
		SELECT
		count(1)
		FROM b2b_varieties
		where isDelete = #{isDelete} and isVisable = #{isVisable} and parentPk != -1
		<if test="parentPks != null and parentPks != '-1'">
			and parentPk in
			<foreach item="item" index="index" collection="parentPks"
					open="(" separator="," close=")">
					#{item}
			</foreach>
		</if>
		<if test="name != null and name !=''">
			and name like '%${name}%'
		</if>
	</select>
	<select id="searchVarietiesNameByVarietiesPks"  resultType="cn.cf.dto.B2bVarietiesDto"
		parameterType="java.util.Map">
	SELECT
		pk, name
		FROM b2b_varieties
		where isDelete =1 and isVisable = 1
		<if test="varietiesPks != null and varietiesPks != ''">
			and pk in
			<foreach item="item" index="index" collection="varietiesPks"
					open="(" separator="," close=")">
					#{item}
			</foreach>
		</if>
	
	</select>
</mapper>