<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bBillCusgoodsDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,customerPk,companyPk,goodsPk,goodsName,goodsShotName,bindStatus,account,bankName,bankNo,isVisable,platformAmount,useAmount
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="pk">
    <![CDATA[
        INSERT INTO b2b_bill_cusgoods (
         pk, customerPk, companyPk, goodsPk, goodsName, goodsShotName, bindStatus, account, bankName, bankNo, isVisable, platformAmount, useAmount
        ) VALUES (
         #{pk}, #{customerPk}, #{companyPk}, #{goodsPk}, #{goodsName}, #{goodsShotName}, #{bindStatus}, #{account}, #{bankName}, #{bankNo}, #{isVisable}, #{platformAmount}, #{useAmount}        
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.B2bBillCusgoods">
    <![CDATA[
        UPDATE b2b_bill_cusgoods SET
	        customerPk = #{customerPk} , companyPk = #{companyPk} , goodsPk = #{goodsPk} , goodsName = #{goodsName} , goodsShotName = #{goodsShotName} , bindStatus = #{bindStatus} , account = #{account} , bankName = #{bankName} , bankNo = #{bankNo} , isVisable = #{isVisable} , platformAmount = #{platformAmount} , useAmount = #{useAmount}  
        WHERE 
        	pk = #{pk}  	        
    ]]>
	</update>

	<delete id="delete" parameterType="cn.cf.model.B2bBillCusgoods">
    <![CDATA[
        DELETE FROM b2b_bill_cusgoods WHERE
        pk = #{id} 
    ]]>
	</delete>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(customerPk)">
				AND customerPk = #{customerPk}			</if>
			<if test="@Ognl@isNotEmpty(companyPk)">
				AND companyPk = #{companyPk}			</if>
			<if test="@Ognl@isNotEmpty(goodsPk)">
				AND goodsPk = #{goodsPk}			</if>
			<if test="@Ognl@isNotEmpty(goodsName)">
				AND goodsName = #{goodsName}			</if>
			<if test="@Ognl@isNotEmpty(goodsShotName)">
				AND goodsShotName = #{goodsShotName}			</if>
			<if test="@Ognl@isNotEmpty(bindStatus)">
				AND bindStatus = #{bindStatus}			</if>
			<if test="@Ognl@isNotEmpty(account)">
				AND account = #{account}			</if>
			<if test="@Ognl@isNotEmpty(bankName)">
				AND bankName = #{bankName}			</if>
			<if test="@Ognl@isNotEmpty(bankNo)">
				AND bankNo = #{bankNo}			</if>
			<if test="@Ognl@isNotEmpty(isVisable)">
				AND isVisable = #{isVisable}			</if>
			<if test="@Ognl@isNotEmpty(platformAmount)">
				AND platformAmount = #{platformAmount}			</if>
			<if test="@Ognl@isNotEmpty(useAmount)">
				AND useAmount = #{useAmount}			</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM b2b_bill_cusgoods
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods
		<include refid="searchGridWhere" />
	</select>
	<select id="searchList" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods
		<include refid="searchGridWhere" />
	</select>
	<select id="getByPk" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where pk = #{pk}	</select>
	<select id="getByCustomerPk" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where customerPk = #{customerPk}	</select>
	<select id="getByCompanyPk" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where companyPk = #{companyPk}	</select>
	<select id="getByGoodsPk" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where goodsPk = #{goodsPk}	</select>
	<select id="getByGoodsName" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where goodsName = #{goodsName}	</select>
	<select id="getByGoodsShotName" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where goodsShotName = #{goodsShotName}	</select>
	<select id="getByAccount" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where account = #{account}	</select>
	<select id="getByBankName" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where bankName = #{bankName}	</select>
	<select id="getByBankNo" resultType="cn.cf.dto.B2bBillCusgoodsDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_bill_cusgoods where bankNo = #{bankNo}	</select>
</mapper>

