<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bKeywordHotDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,linkUrl,status,sort,insertTime,isDelete
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="pk">
    <![CDATA[
        INSERT INTO b2b_keyword_hot (
         pk, name, linkUrl, status, sort, insertTime, isDelete
        ) VALUES (
         #{pk}, #{name}, #{linkUrl}, #{status}, #{sort}, #{insertTime}, #{isDelete}
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.B2bKeywordHot">
        UPDATE b2b_keyword_hot 
	<set>
		<if test="name != null">
			name = #{name} ,
		</if>
		<if test="linkUrl != null">
			linkUrl = #{linkUrl} ,
		</if>
		<if test="status != null">
			status = #{status} ,
		</if>
		<if test="sort != null">
			sort = #{sort} ,
		</if>
		<if test="insertTime != null">
			insertTime = #{insertTime} ,
		</if>
		<if test="isDelete != null">
			isDelete = #{isDelete}
		</if>

	</set>
        WHERE 
        	pk = #{pk}  	        
	</update>

	<delete id="delete" parameterType="cn.cf.model.B2bKeywordHot">
    <![CDATA[
        DELETE FROM b2b_keyword_hot WHERE
        pk = #{id} 
    ]]>
	</delete>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(name)">
				AND name like '%${name}%'			</if>
			<if test="@Ognl@isNotEmpty(linkUrl)">
				AND linkUrl = #{linkUrl}			</if>
			<if test="@Ognl@isNotEmpty(status)">
				AND status = #{status}			</if>
			<if test="@Ognl@isNotEmpty(sort)">
				AND sort = #{sort}			</if>

			<if test="@Ognl@isNotEmpty(insertTimeBegin)">
				and TO_DAYS(insertTime) >=TO_DAYS(#{insertTimeBegin})
			</if>
			<if test="@Ognl@isNotEmpty(insertTimeEnd)">
				and TO_DAYS(insertTime) &lt;=TO_DAYS(#{insertTimeEnd})
			</if>
			<if test="@Ognl@isNotEmpty(isDelete)">
				AND isDelete = #{isDelete}			</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM b2b_keyword_hot
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.B2bKeywordHotDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_keyword_hot
		<include refid="searchGridWhere" />
		<if test="orderName !=null">
			order by ${orderName} ${orderType}
		</if>
		<if test="orderName ==null">
			order by sort desc,insertTime desc
		</if>
		<if test="start != null">
			limit #{start},#{limit}
		</if>
	</select>
	<select id="searchList" resultType="cn.cf.dto.B2bKeywordHotDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_keyword_hot
		<include refid="searchGridWhere" />
	</select>
	<select id="getByPk" resultType="cn.cf.dto.B2bKeywordHotDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_keyword_hot where pk = #{pk}	</select>
	<select id="getByName" resultType="cn.cf.dto.B2bKeywordHotDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_keyword_hot where name = #{name}	</select>
	<select id="getByLinkUrl" resultType="cn.cf.dto.B2bKeywordHotDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_keyword_hot where linkUrl = #{linkUrl}	</select>
</mapper>

