<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.LgDriverDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,companyPk,mobile,isDelete,licenseUrl,insertTime,updateTime
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="pk">
    <![CDATA[
        INSERT INTO lg_driver (
         pk, name, companyPk, mobile, isDelete, licenseUrl, insertTime, updateTime
        ) VALUES (
         #{pk}, #{name}, #{companyPk}, #{mobile}, #{isDelete}, #{licenseUrl}, #{insertTime}, #{updateTime}        
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.LgDriver">
    <![CDATA[
        UPDATE lg_driver SET
	        name = #{name} , companyPk = #{companyPk} , mobile = #{mobile} , isDelete = #{isDelete} , licenseUrl = #{licenseUrl} , insertTime = #{insertTime} , updateTime = #{updateTime}  
        WHERE 
        	pk = #{pk}  	        
    ]]>
	</update>

	<delete id="delete" parameterType="cn.cf.model.LgDriver">
    <![CDATA[
        DELETE FROM lg_driver WHERE
        pk = #{id} 
    ]]>
	</delete>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(name)">
				AND name = #{name}			</if>
			<if test="@Ognl@isNotEmpty(companyPk)">
				AND companyPk = #{companyPk}			</if>
			<if test="@Ognl@isNotEmpty(mobile)">
				AND mobile = #{mobile}			</if>
			<if test="@Ognl@isNotEmpty(isDelete)">
				AND isDelete = #{isDelete}			</if>
			<if test="@Ognl@isNotEmpty(licenseUrl)">
				AND licenseUrl = #{licenseUrl}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeBegin)">
				AND insertTime >= #{insertTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeEnd)">
				AND insertTime &lt;= #{insertTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND updateTime >= #{updateTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND updateTime &lt;= #{updateTimeEnd}			</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM lg_driver
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.LgDriverDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM lg_driver
		<include refid="searchGridWhere" />
		<if test="orderName != null">
            order by ${orderName} ${orderType}
        </if>
        <if test="limit != null">
            limit ${start}, ${limit}
        </if>
	</select>
	<select id="searchList" resultType="cn.cf.dto.LgDriverDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM lg_driver
		<include refid="searchGridWhere" />
	</select>
	<select id="getByPk" resultType="cn.cf.dto.LgDriverDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM lg_driver where pk = #{pk}	</select>
	<select id="getByName" resultType="cn.cf.dto.LgDriverDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM lg_driver where name = #{name}	</select>
	<select id="getByCompanyPk" resultType="cn.cf.dto.LgDriverDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM lg_driver where companyPk = #{companyPk}	</select>
	<select id="getByMobile" resultType="cn.cf.dto.LgDriverDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM lg_driver where mobile = #{mobile}	</select>
	<select id="getByLicenseUrl" resultType="cn.cf.dto.LgDriverDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM lg_driver where licenseUrl = #{licenseUrl}	</select>
</mapper>

