<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.LgTrackDetailDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,deliveryPk,orderStatus,stepDetail,finishedTime,insertTime,updateTime
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="pk">
    <![CDATA[
        INSERT INTO lg_track_detail (
         pk, deliveryPk, orderStatus, stepDetail, finishedTime, insertTime, updateTime
        ) VALUES (
         #{pk}, #{deliveryPk}, #{orderStatus}, #{stepDetail}, #{finishedTime}, #{insertTime}, #{updateTime}        
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.LgTrackDetail">
    <![CDATA[
        UPDATE lg_track_detail SET
	        deliveryPk = #{deliveryPk} , orderStatus = #{orderStatus} , stepDetail = #{stepDetail} , finishedTime = #{finishedTime} , insertTime = #{insertTime} , updateTime = #{updateTime}  
        WHERE 
        	pk = #{pk}  	        
    ]]>
	</update>

	<delete id="delete" parameterType="cn.cf.model.LgTrackDetail">
    <![CDATA[
        DELETE FROM lg_track_detail WHERE
        pk = #{id} 
    ]]>
	</delete>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(deliveryPk)">
				AND deliveryPk = #{deliveryPk}			</if>
			<if test="@Ognl@isNotEmpty(orderStatus)">
				AND orderStatus = #{orderStatus}			</if>
			<if test="@Ognl@isNotEmpty(stepDetail)">
				AND stepDetail = #{stepDetail}			</if>
			<if test="@Ognl@isNotEmpty(finishedTimeBegin)">
				AND finishedTime >= #{finishedTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(finishedTimeEnd)">
				AND finishedTime &lt;= #{finishedTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeBegin)">
				AND insertTime >= #{insertTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeEnd)">
				AND insertTime &lt;= #{insertTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND updateTime >= #{updateTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND updateTime &lt;= #{updateTimeEnd}			</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM lg_track_detail
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.LgTrackDetailDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM lg_track_detail
		<include refid="searchGridWhere" />
	</select>
	<select id="searchList" resultType="cn.cf.dto.LgTrackDetailDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM lg_track_detail
		<include refid="searchGridWhere" />
	</select>
	<select id="getByPk" resultType="cn.cf.dto.LgTrackDetailDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM lg_track_detail where pk = #{pk}	</select>
	<select id="getByDeliveryPk" resultType="cn.cf.dto.LgTrackDetailDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM lg_track_detail where deliveryPk = #{deliveryPk}	</select>
	<select id="getByStepDetail" resultType="cn.cf.dto.LgTrackDetailDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM lg_track_detail where stepDetail = #{stepDetail}	</select>
</mapper>

