<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.LogisticsErpStepInfoDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,logisticsPk,productPk,productName,startWeight,endWeight,packNumber,price,isDelete,isStore
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="pk">
    <![CDATA[
        INSERT INTO logistics_erp_stepInfo (
         pk, logisticsPk, productPk, productName, startWeight, endWeight, packNumber, price, isDelete,isStore,block
        ) VALUES (
         #{pk}, #{logisticsPk}, #{productPk}, #{productName}, #{startWeight}, #{endWeight}, #{packNumber}, #{price},1,#{isStore},#{block}
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.LogisticsErpStepInfo">
    <![CDATA[
        UPDATE logistics_erp_stepInfo SET
	        logisticsPk = #{logisticsPk} , productPk = #{productPk} , productName = #{productName} , startWeight = #{startWeight} , endWeight = #{endWeight} , packNumber = #{packNumber} , price = #{price} , isDelete = #{isDelete} ,isStore = #{isStore}  
        WHERE 
        	pk = #{pk}  	        
    ]]>
	</update>

	<delete id="delete" parameterType="cn.cf.model.LogisticsErpStepInfo">
    <![CDATA[
        DELETE FROM logistics_erp_stepInfo WHERE
        pk = #{id} 
    ]]>
	</delete>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(logisticsPk)">
				AND logisticsPk = #{logisticsPk}			</if>
			<if test="@Ognl@isNotEmpty(productPk)">
				AND productPk = #{productPk}			</if>
			<if test="@Ognl@isNotEmpty(productName)">
				AND productName = #{productName}			</if>
			<if test="@Ognl@isNotEmpty(startWeight)">
				AND startWeight = #{startWeight}			</if>
			<if test="@Ognl@isNotEmpty(endWeight)">
				AND endWeight = #{endWeight}			</if>
			<if test="@Ognl@isNotEmpty(packNumber)">
				AND packNumber = #{packNumber}			</if>
			<if test="@Ognl@isNotEmpty(price)">
				AND price = #{price}			</if>
			<if test="@Ognl@isNotEmpty(isDelete)">
				AND isDelete = #{isDelete}			</if>
			<if test="@Ognl@isNotEmpty(isStore)">
				AND isStore = #{isStore}			</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM logistics_erp_stepInfo
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.LogisticsErpStepInfoDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM logistics_erp_stepInfo
		<include refid="searchGridWhere" />
	</select>
	<select id="searchList" resultType="cn.cf.dto.LogisticsErpStepInfoDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM logistics_erp_stepInfo
		<include refid="searchGridWhere" />
	</select>
	<select id="getByPk" resultType="cn.cf.dto.LogisticsErpStepInfoDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM logistics_erp_stepInfo where pk = #{pk}	</select>
	<select id="getByLogisticsPk" resultType="cn.cf.dto.LogisticsErpStepInfoDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM logistics_erp_stepInfo where logisticsPk = #{logisticsPk}	</select>
	<select id="getByProductPk" resultType="cn.cf.dto.LogisticsErpStepInfoDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM logistics_erp_stepInfo where productPk = #{productPk}	</select>
	<select id="getByProductName" resultType="cn.cf.dto.LogisticsErpStepInfoDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM logistics_erp_stepInfo where productName = #{productName}	</select>
	<select id="getByPackNumber" resultType="cn.cf.dto.LogisticsErpStepInfoDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM logistics_erp_stepInfo where packNumber = #{packNumber}	</select>
</mapper>

