<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.SysBannerDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,type,auditStatus,recommend,top,url,sort,details,insertTime,isDelete,isVisable,startTime,endTime,onlineTime,linkUrl,platform,position
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="pk">
    <![CDATA[
        INSERT INTO sys_banner (
         pk, name, type, auditStatus, recommend, top, url, sort, details, insertTime, isDelete, isVisable, startTime, endTime, onlineTime, linkUrl,platform,position
        ) VALUES (
         #{pk}, #{name}, #{type}, #{auditStatus}, #{recommend}, #{top}, #{url}, #{sort}, #{details}, #{insertTime}, #{isDelete}, #{isVisable}, #{startTime}, #{endTime}, #{onlineTime}, #{linkUrl} ,#{platform} ,#{position}
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.SysBanner">

        UPDATE sys_banner
         <set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="auditStatus != null and auditStatus != ''">
				auditStatus = #{auditStatus},
			</if>
			<if test="recommend != null and recommend != ''">
				recommend = #{recommend},
			</if>
			<if test="top != null and top != ''">
				top = #{top},
			</if>
			<if test="isVisable != null and isVisable != ''">
				isVisable = #{isVisable},
			</if>
			<if test="isDelete != null and isDelete != ''">
				isDelete = #{isDelete},
			</if>
			<if test="url != null and url != ''">
				url = #{url},
			</if>
			<if test="sort != null and sort != ''">
				sort = #{sort},
			</if>
			<if test="details != null and details != ''">
				details = #{details},
			</if>
			<if test="insertTime != null and insertTime != ''">
				insertTime = #{insertTime},
			</if>
			<if test="startTime != null and startTime != ''">
				startTime = #{startTime},
			</if>
			<if test="endTime != null and endTime != ''">
				endTime = #{endTime},
			</if>
			<if test="onlineTime != null and onlineTime != ''">
				onlineTime = #{onlineTime},
			</if>
			<if test="linkUrl != null and linkUrl != ''">
				linkUrl = #{linkUrl},
			</if>
			<if test="platform != null and platform != ''">
				platform = #{platform},
			</if>
			<if test="position != null and position != ''">
				position = #{position},
			</if>
		</set>
        WHERE 
        	pk = #{pk}
	</update>

	<delete id="delete" parameterType="cn.cf.model.SysBanner">
    <![CDATA[
        DELETE FROM sys_banner WHERE
        pk = #{id} 
    ]]>
	</delete>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(name)">
				AND name = #{name}			</if>
			<if test="@Ognl@isNotEmpty(type)">
				AND type = #{type}			</if>
			<if test="@Ognl@isNotEmpty(auditStatus)">
				AND auditStatus = #{auditStatus}			</if>
			<if test="@Ognl@isNotEmpty(recommend)">
				AND recommend = #{recommend}			</if>
			<if test="@Ognl@isNotEmpty(top)">
				AND top = #{top}			</if>
			<if test="@Ognl@isNotEmpty(url)">
				AND url = #{url}			</if>
			<if test="@Ognl@isNotEmpty(sort)">
				AND sort = #{sort}			</if>
			<if test="@Ognl@isNotEmpty(details)">
				AND details = #{details}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeBegin)">
				AND insertTime >= #{insertTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeEnd)">
				AND insertTime &lt;= #{insertTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(isDelete)">
				AND isDelete = #{isDelete}			</if>
			<if test="@Ognl@isNotEmpty(isVisable)">
				AND isVisable = #{isVisable}			</if>
			<if test="@Ognl@isNotEmpty(startTimeBegin)">
				AND startTime >= #{startTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(startTimeEnd)">
				AND startTime &lt;= #{startTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(endTimeBegin)">
				AND endTime >= #{endTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(endTimeEnd)">
				AND endTime &lt;= #{endTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(onlineTimeBegin)">
				AND onlineTime >= #{onlineTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(onlineTimeEnd)">
				AND onlineTime &lt;= #{onlineTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(linkUrl)">
				AND linkUrl = #{linkUrl}			</if>
			<if test="@Ognl@isNotEmpty(platform)">
				AND platform = #{platform}			</if>
			<if test="@Ognl@isNotEmpty(position)">
				AND position = #{position}			</if>
			<if test="@Ognl@isNotEmpty(onlineTime)">
				AND curdate() >= onlineTime		</if>
				<if test="@Ognl@isNotEmpty(endTime)">
				AND curdate() &lt;= endTime		</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM sys_banner
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.SysBannerDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM sys_banner
		<include refid="searchGridWhere" />
		<if test="orderName != null">
			order by ${orderName} ${orderType}
		</if>
		<if test="limit != null and limit !=''">
			limit #{start},#{limit}
		</if>
	</select>
	<select id="searchList" resultType="cn.cf.dto.SysBannerDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM sys_banner
		<include refid="searchGridWhere" />
		order by sort desc 
		<if test="limit != null and limit !=''">
			limit #{start},#{limit}
		</if>
	</select>
	<select id="getByPk" resultType="cn.cf.dto.SysBannerDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_banner where pk = #{pk}	</select>
	<select id="getByName" resultType="cn.cf.dto.SysBannerDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_banner where name = #{name}	</select>
	<select id="getByUrl" resultType="cn.cf.dto.SysBannerDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_banner where url = #{url}	</select>
	<select id="getByDetails" resultType="cn.cf.dto.SysBannerDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_banner where details = #{details}	</select>
	<select id="getByLinkUrl" resultType="cn.cf.dto.SysBannerDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_banner where linkUrl = #{linkUrl}	</select>
</mapper>

