<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.SysContrastDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,url
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="pk">
    <![CDATA[
        INSERT INTO sys_contrast (
         pk, name, url
        ) VALUES (
         #{pk}, #{name}, #{url}        
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.SysContrast">
    <![CDATA[
        UPDATE sys_contrast SET
	        name = #{name}  
        WHERE 
        	pk = #{pk}  AND  url = #{url}  	        
    ]]>
	</update>

	<delete id="delete" parameterType="cn.cf.model.SysContrast">
    <![CDATA[
        DELETE FROM sys_contrast WHERE
        pk = #{id}  AND 
        url = #{id} 
    ]]>
	</delete>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(name)">
				AND name = #{name}			</if>
			<if test="@Ognl@isNotEmpty(url)">
				AND url = #{url}			</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM sys_contrast
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.SysContrastDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM sys_contrast
		<include refid="searchGridWhere" />
	</select>
	<select id="searchList" resultType="cn.cf.dto.SysContrastDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM sys_contrast
		<include refid="searchGridWhere" />
	</select>
	<select id="getByPk" resultType="cn.cf.dto.SysContrastDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_contrast where pk = #{pk}	</select>
	<select id="getByName" resultType="cn.cf.dto.SysContrastDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_contrast where name = #{name}	</select>
	<select id="getByUrl" resultType="cn.cf.dto.SysContrastDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_contrast where url = #{url}	</select>
</mapper>

