<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.SysSmsRoleDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,smsName,rolePk,type
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="pk">
    <![CDATA[
        INSERT INTO sys_sms_role (
         pk, smsName, rolePk, type
        ) VALUES (
         #{pk}, #{smsName}, #{rolePk}, #{type}        
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.SysSmsRole">
    <![CDATA[
        UPDATE sys_sms_role SET
	        smsName = #{smsName} , rolePk = #{rolePk} , type = #{type}  
        WHERE 
        	pk = #{pk}  	        
    ]]>
	</update>

	<delete id="delete" parameterType="cn.cf.model.SysSmsRole">
    <![CDATA[
        DELETE FROM sys_sms_role WHERE
        pk = #{id} 
    ]]>
	</delete>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(smsName)">
				AND smsName = #{smsName}			</if>
			<if test="@Ognl@isNotEmpty(rolePk)">
				AND rolePk = #{rolePk}			</if>
			<if test="@Ognl@isNotEmpty(type)">
				AND type = #{type}			</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM sys_sms_role
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.SysSmsRoleDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM sys_sms_role
		<include refid="searchGridWhere" />
	</select>
	<select id="searchList" resultType="cn.cf.dto.SysSmsRoleDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM sys_sms_role
		<include refid="searchGridWhere" />
	</select>
	<select id="getByPk" resultType="cn.cf.dto.SysSmsRoleDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_sms_role where pk = #{pk}	</select>
	<select id="getBySmsName" resultType="cn.cf.dto.SysSmsRoleDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_sms_role where smsName = #{smsName}	</select>
	<select id="getByRolePk" resultType="cn.cf.dto.SysSmsRoleDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM sys_sms_role where rolePk = #{rolePk}	</select>
</mapper>

