<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.LgDeliveryExceptionPicDaoEx">

	<!-- 根据pk查询 -->
	<select id="selectPicUrlByDeliveryPk" parameterType="Map"
		resultType="String">
		select exceptionPicUrl from lg_delivery_exception_pic where deliveryPk = #{deliveryPk}
	</select>
	
</mapper>

