<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.LgMemberRoleDaoEx">

	<update id="deleteMemberRole" parameterType="java.util.Map">
	  UPDATE lg_member_role
	    <set>
            <if test="isDelete != null and isDelete !=''">
                isDelete = #{isDelete} ,
            </if>
           <if test="isVisable != null and isVisable !=''">
                isVisable = #{isVisable} ,
            </if> 
            updateTime = now()
	  </set>
	  where memberPk = #{memberPk} 
	</update>
</mapper>