<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bAddressExDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,companyPk,insertTime,address,provinceName,province,cityName,city,areaName,area,TOWN,townName,isDelete,contacts,contactsTel,isDefault
	    ]]>
	</sql>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}
			</if>
			<if test="@Ognl@isNotEmpty(companyPk)">
				AND companyPk = #{companyPk}
			</if>
			<if test="@Ognl@isNotEmpty(insertTimeBegin)">
				AND insertTime >= #{insertTimeBegin}
			</if>
			<if test="@Ognl@isNotEmpty(insertTimeEnd)">
				AND insertTime &lt;= #{insertTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(address)">
				AND address = #{address}
			</if>
			<if test="@Ognl@isNotEmpty(provinceName)">
				AND provinceName = #{provinceName}
			</if>
			<if test="@Ognl@isNotEmpty(province)">
				AND province = #{province}
			</if>
			<if test="@Ognl@isNotEmpty(cityName)">
				AND cityName = #{cityName}
			</if>
			<if test="@Ognl@isNotEmpty(city)">
				AND city = #{city}
			</if>
			<if test="@Ognl@isNotEmpty(areaName)">
				AND areaName = #{areaName}
			</if>
			<if test="@Ognl@isNotEmpty(area)">
				AND area = #{area}
			</if>
			<if test="@Ognl@isNotEmpty(town)">
				AND TOWN = #{town}
			</if>
			<if test="@Ognl@isNotEmpty(townName)">
				AND townName = #{townName}
			</if>
			<if test="@Ognl@isNotEmpty(isDelete)">
				AND isDelete = #{isDelete}
			</if>
		</where>
	</sql>

	<select id="searchGridCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM b2b_address
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGrid" resultType="cn.cf.dto.B2bAddressDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_address
		<include refid="searchGridWhere" />
	</select>

	<select id="getByCompanyPkEx" resultType="cn.cf.dto.B2bAddressDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_address where companyPk = #{companyPk} and isDelete = 1
	</select>

	<select id="getAddressByMap" resultType="cn.cf.dto.B2bAddressDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_address where isDelete = 1
		<if test="companyPk != null and companyPk != ''">
			and companyPk = #{companyPk}
		</if>
		<if test="province != null and province != ''">
			and province = #{province}
		</if>
		<if test="city != null and city != ''">
			and city = #{city}
		</if>
		<if test="area != null and area != ''">
			and area = #{area}
		</if>
		<if test="town != null">
			and town = #{town}
		</if>
		<if test="contacts != null and contacts != ''">
			and contacts = #{contacts}
		</if>
		<if test="contactsTel != null and contactsTel != ''">
			and contactsTel = #{contactsTel}
		</if>
		
	</select>

	<update id="updateisDefaultAddress" parameterType="cn.cf.dto.B2bAddressDto">
		UPDATE b2b_address
		<set>
			<if test="isDefault != null and isDefault !=''">
				isDefault = #{isDefault},
			</if>
		</set>
		WHERE pk = #{pk}
	</update>

	<select id="getAddressisDefaultByCompanyPk" resultType="cn.cf.dto.B2bAddressDto"
		parameterType="java.lang.String">
		select
		<include refid="columns" />
		from
		b2b_address where companyPk = #{companyPk} and isDefault = 1 and
		isDelete = 1
	</select>

<update id="updateAddress" parameterType="cn.cf.dto.B2bAddressDto">
		UPDATE b2b_address
		<set>
			<if test="companyPk != null and companyPk != ''">
			 companyPk = #{companyPk},
		</if>
		<if test="province != null and province != ''">
			 province = #{province},
		</if>
		<if test="provinceName != null and provinceName != ''">
			 provinceName = #{provinceName},
		</if>
		<if test="city != null and city != ''">
			 city = #{city},
		</if>
		<if test="cityName != null and cityName != ''">
			 cityName = #{cityName},
		</if>
		<if test="area != null and area != ''">
			 area = #{area},
		</if>
		<if test="areaName != null and areaName != ''">
			 areaName = #{areaName},
		</if>
		<if test="town != null">
			 town = #{town},
		</if>
		<if test="townName != null">
			 townName = #{townName},
		</if>
		<if test="contacts != null and contacts != ''">
			 contacts = #{contacts},
		</if>
		<if test="contactsTel != null and contactsTel != ''">
			 contactsTel = #{contactsTel},
		</if>
		<if test="address != null ">
			 address = #{address},
		</if>
		</set>
		WHERE pk = #{pk}
	</update>
	
	
	
		<select id="getExtByMap" resultType="cn.cf.dto.B2bAddressDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM b2b_address where 1=1
		<if test="companyPk != null and companyPk != ''">
			and companyPk = #{companyPk}
		</if>
		<if test="province != null and province != ''">
			and province = #{province}
		</if>
		<if test="city != null and city != ''">
			and city = #{city}
		</if>
		<if test="area != null and area != ''">
			and area = #{area}
		</if>
		<if test="town != null">
			and town = #{town}
		</if>
		<if test="contacts != null and contacts != ''">
			and contacts = #{contacts}
		</if>
		<if test="contactsTel != null and contactsTel != ''">
			and contactsTel = #{contactsTel}
		</if>
		<if test="isDelete != null">
			and isDelete = #{isDelete}
		</if>
		<if test="pk != null and pk !='' ">
			and pk = #{pk}
		</if>
		
	</select>
	
</mapper>

