<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bBillSigncardExtDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,companyPk,bankAccount,bankName,bankNo,ecbankPk,ecbankName,bankclscode,status
	    ]]>
	</sql>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(companyPk)">
				AND companyPk = #{companyPk}			</if>
			<if test="@Ognl@isNotEmpty(bankAccount)">
				AND bankAccount = #{bankAccount}			</if>
			<if test="@Ognl@isNotEmpty(bankName)">
				AND bankName = #{bankName}			</if>
			<if test="@Ognl@isNotEmpty(bankNo)">
				AND bankNo = #{bankNo}			</if>
			<if test="@Ognl@isNotEmpty(ecbankPk)">
				AND ecbankPk = #{ecbankPk}			</if>
			<if test="@Ognl@isNotEmpty(ecbankName)">
				AND ecbankName = #{ecbankName}			</if>
			<if test="@Ognl@isNotEmpty(bankclscode)">
				AND bankclscode = #{bankclscode}			</if>
			<if test="@Ognl@isNotEmpty(status)">
				AND status = #{status}			</if>
		</where>
	</sql>
	
	
	

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGridEx" resultType="cn.cf.dto.SysCompanyBankcardDtoEx"
		parameterType="java.util.Map">
		SELECT
		s.pk,
		s.companyPk,
		s.bankclscode,
		s.status,
		<choose>
			<when test="bankAccountCol == 'EM_BILL_SUPPSIGNING_ACCOUNT_COL_BANKNUM'">
				'*****' AS bankAccount,
			</when>
			<when test="bankAccountCol == 'EM_BILL_SUPPSIGNING_ACCOUNT_COL_BANKNUM' ">
				'*****' AS bankAccount,
			</when>
			<otherwise>
				s.bankAccount AS bankAccount,
			</otherwise>
		</choose>
		<choose>
			<when test="ecbankNameCol == 'EM_BILL_SUPPSIGNING_ACCOUNT_COL_BANKNAME'">
				'*****' AS ecbankName,
			</when>
			<when test="ecbankNameCol == 'EM_BILL_SUPPSIGNING_ACCOUNT_COL_BANKNAME' ">
				'*****' AS ecbankName,
			</when>
			<otherwise>
				s.ecbankName AS ecbankName,
			</otherwise>
		</choose>
		<choose>
			<when test="bankNoCol =='EM_BILL_SUPPSIGNING_ACCOUNT_COL_ACCNUM' ">
				'*****' AS bankNo,
			</when>
			<when test="bankNoCol =='EM_BILL_SUPPSIGNING_ACCOUNT_COL_ACCNUM'">
				'*****' AS bankNo,
			</when>
			<otherwise>
				s.bankNo AS bankNo,
			</otherwise>
		</choose>
		<choose>
			<when test="bankNameCol =='EM_BILL_SUPPSIGNING_ACCOUNT_COL_ACCNAME'">
				'*****' AS bankName,
			</when>
			<when test="bankNameCol =='EM_BILL_SUPPSIGNING_ACCOUNT_COL_ACCNAME'">
				'*****' AS bankName,
			</when>
			<otherwise>
				s.bankName AS bankName,
			</otherwise>
		</choose>
		s.ecbankPk,
		<choose>
			<when test="companyNameCol =='EM_BILL_SUPPSIGNING_ACCOUNT_COL_COMPANYNAME'">
				INSERT (c.name,3,5,'*****') as companyName
			</when>
			<when test="companyNameCol =='EM_BILL_SUPPSIGNING_ACCOUNT_COL_COMPANYNAME'">
				INSERT (c.name,3,5,'*****') as companyName
			</when>
			<otherwise>
				c.name as companyName
			</otherwise>
		</choose>
		FROM b2b_bill_signcard  s
		left join b2b_company c   on  s.companyPk = c.pk
		<include refid="searchGridWhere" />
		<if test="orderName != null">
			order by c.${orderName} ${orderType}
		</if>
		<if test="limit != null and limit != ''">
			LIMIT #{start}, #{limit}
		</if>
	</select>
	
	
	
	
	<select id="checkCompanyAndBank" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT
		count(*)
		FROM b2b_bill_signcard  
		where 
		 companyPk = #{companyPk}
		and  ecbankPk = #{ecbankPk}
		<if test="pk != null and pk != ''">
		and	pk != #{pk}
		</if>
	</select>
</mapper>

