<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bEconomicsDimensionExtDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,category,item,updateTime,content
	    ]]>
	</sql>
	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}
			</if>
			<if test="@Ognl@isNotEmpty(category)">
				AND category = #{category}
			</if>
			<if test="@Ognl@isNotEmpty(item)">
				AND item = #{item}
			</if>
			<if test="@Ognl@isNotEmpty(updateTime)">
				AND updateTime = #{updateTime}
			</if>
			<if test="@Ognl@isNotEmpty(content)">
				AND content = #{content}
			</if>
		</where>
	</sql>
	<select id="getByItem" parameterType="String"
		resultType="cn.cf.model.B2bEconomicsDimensionModel">
		SELECT
		<include refid="columns" />
		from  b2b_economics_dimension where item = #{item}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="pk">
		<![CDATA[
        INSERT INTO b2b_economics_dimension (
       				pk,category,item,updateTime,content
        ) VALUES (
         #{pk}, #{category}, #{item}, #{updateTime}, #{content}
        )
    ]]>
	</insert>

	<update id="update" parameterType="cn.cf.model.B2bEconomicsDimensionModel">
		<![CDATA[
        UPDATE b2b_economics_dimension SET
	        pk = #{pk} , category = #{category} , item = #{item} , updateTime = #{updateTime} , content = #{content}
        WHERE
        	item = #{item}
    ]]>
	</update>


</mapper>

