<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bEconomicsPurposecustExDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,companyName,contacts,contactsTel,insertTime,updateTime,status,remarks,goodsName,type
	    ]]>
	</sql>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}
			</if>
			<if test="@Ognl@isNotEmpty(companyName)">
				AND companyName LIKE '%${companyName}%'			</if>
			<if test="@Ognl@isNotEmpty(contacts)">
				AND contacts LIKE '%${contacts}%'				</if>
			<if test="@Ognl@isNotEmpty(contactsTel)">
				AND contactsTel LIKE '%${contactsTel}%'			</if>
			<if test="@Ognl@isNotEmpty(insertStartTime)">
				AND str_to_date(insertTime,'%Y-%m-%d') >=
				#{insertStartTime}			</if>
			<if test="@Ognl@isNotEmpty(insertEndTime)">
				AND str_to_date(insertTime,'%Y-%m-%d') &lt;=
				#{insertEndTime}			</if>
			<if test="@Ognl@isNotEmpty(upStartTime)">
				AND str_to_date(updateTime,'%Y-%m-%d') >= #{upStartTime}
			</if>
			<if test="@Ognl@isNotEmpty(upEndTime)">
				AND str_to_date(updateTime,'%Y-%m-%d') &lt;= #{upEndTime}
			</if>
			<if test="@Ognl@isNotEmpty(status)">
				AND status = #{status}
			</if>
			<if test="@Ognl@isNotEmpty(remarks)">
				AND remarks = #{remarks}
			</if>
			<if test="@Ognl@isNotEmpty(goodsName)">
				AND goodsName LIKE '%${goodsName}%'			</if>
			<if test="@Ognl@isNotEmpty(type)">
				AND type = #{type}		</if>
		</where>
	</sql>

	<select id="countPurposecustGrid" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM
		b2b_economics_purposecust b
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchPurposecustGrid" resultType="cn.cf.dto.B2bEconomicsPurposecustExDto"
		parameterType="java.util.Map">
		SELECT 
		      pk,
		      if(${colCompanyName},companyName, INSERT (companyName, 3, 5, '*****')) as companyName,
		      if(${colContacts},contacts, INSERT (contacts,  1, 1, '*')) as contacts,
		      if(${colContactsTel},contactsTel, INSERT (contactsTel,  4, 4, '****')) as contactsTel,
		      insertTime,updateTime,status,remarks,goodsName,type
		FROM
		b2b_economics_purposecust b
		<include refid="searchGridWhere" />
		<if test="orderName != null">
			order by ${orderName} ${orderType}
		</if>
		<if test="limit != null">
			limit #{start},#{limit}
		</if>
	</select>





	<update id="updateExt" parameterType="cn.cf.model.B2bEconomicsPurposecust">

		UPDATE b2b_economics_purposecust
		SET
		<if test="companyName!=null and companyName!=''">
			companyName = #{companyName} ,
		</if>
		<if test="contacts!=null and contacts!=''">
			contacts = #{contacts} ,
		</if>
		<if test="contactsTel!=null and contactsTel!=''">
			contactsTel = #{contactsTel} ,
		</if>
		<if test="remarks!=null">
			remarks = #{remarks} ,
		</if>
		<if test="status!=null and status!=''">
			status = #{status} ,
		</if>
		<if test="goodsName!=null and goodsName!=''">
			goodsName = #{goodsName},
		</if>
		<if test="companyName!=null and companyName!=''">
			companyName = #{companyName},
		</if>
		<if test="type!=null and type!=''">
			type = #{type},
		</if>
		updateTime = now()

		WHERE
		pk = #{pk}

	</update>

</mapper>

