<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bProductExtDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,name,sort,isDelete,isVisable,insertTime,detils
	    ]]>
	</sql>
	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(name)">
				AND name = #{name}			</if>
			<if test="@Ognl@isNotEmpty(sort)">
				AND sort = #{sort}			</if>
			<if test="@Ognl@isNotEmpty(isDelete)">
				AND isDelete = #{isDelete}			</if>
			<if test="@Ognl@isNotEmpty(isVisable)">
				AND isVisable = #{isVisable}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeBegin)">
				AND insertTime >= #{insertTimeBegin}			</if>
			<if test="@Ognl@isNotEmpty(insertTimeEnd)">
				AND insertTime &lt;= #{insertTimeEnd}			</if>
			<if test="@Ognl@isNotEmpty(detils)">
				AND detils = #{detils}			</if>
				
				AND isDelete=1
		</where>
	</sql>
	<select id="searchGridExtCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM b2b_product
		<include refid="searchGridWhere" />
	</select>
	<select id="searchGridExt" resultType="cn.cf.dto.B2bProductExtDto"
		parameterType="java.util.Map">
		SELECT
		pk,name,sort,isDelete,isVisable,
			(CASE isVisable
				WHEN 1 THEN
					'启用'
				WHEN 2 THEN
					'禁用'
				END
			) isVisableName,
		insertTime,detils
		FROM b2b_product
		<include refid="searchGridWhere" />
		<if test="orderName != null and orderName !=''">
			order by ${orderName} ${orderType}
		</if>
		<if test="limit != null and limit !=''">
			limit #{start},#{limit}
		</if>
	</select>
	<update id="updateProduct" parameterType="cn.cf.dto.B2bProductExtDto">
		UPDATE b2b_product
		<set>
			<if test="isDelete != null and isDelete != ''">
				isDelete = #{isDelete},
			</if>
			<if test="isVisable != null and isVisable != ''">
				isVisable = #{isVisable},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="sort != null and sort != ''">
				sort = #{sort},
			</if>
			<if test="detils != null and detils != ''">
				detils = #{detils},
			</if>
		</set>
		WHERE pk = #{pk}
	</update>


	<select id="getAllProductList"  resultType="cn.cf.dto.B2bProductDto">
		SELECT <include refid="columns" /> FROM  b2b_product where isDelete = 1
	</select>


<select id="getAllIsvisableProductList"  resultType="cn.cf.dto.B2bProductDto">
		SELECT <include refid="columns" /> FROM  b2b_product where isDelete = 1 and isVisable=1
	</select>
	
	
	<select id="getByNameEx" resultType="cn.cf.dto.B2bProductDto"
		parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
		FROM b2b_product 
		where name = #{productName} and isDelete = 1 and  isVisable=1 limit 1
	</select>

</mapper>

