<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bRoleMenuExDao">

    <select id="getRoleMenuByRolePk" parameterType="java.util.Map"
            resultType="cn.cf.dto.B2bRoleMenuDto">
        SELECT pk,rolePk,menuPk  from b2b_role_menu WHERE rolePk=#{rolePk}
    </select>

    <delete id="deleteByB2bRoleMenuPk">
        DELETE from b2b_role_menu where rolePk=#{rolePk}
    </delete>
</mapper>

