<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.LgDeliveryOrderGoodsExtDao">

  <!-- 修改商品信息 -->
  <update id="updateOrderGoodsByDeliveryPk" parameterType="java.util.Map">
    update lg_delivery_order_goods set
    originalFreight = #{originalFreight},
    presentFreight = #{presentFreight},
    goodsOriginalFreight = #{originalTotalFreight},
    goodsPresentFreight = #{presentTotalFreight}
    where deliveryPk = #{pk}
  </update>
  
  
</mapper>
