<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.SysHomeBannerMassageExtDao">


    <sql id="searchGridWhere">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            <if test="@Ognl@isNotEmpty(pk)">
                AND pk = #{pk}			</if>
            <if test="@Ognl@isNotEmpty(isDelete)">
                AND isDelete = #{isDelete}			</if>
            <if test="@Ognl@isNotEmpty(isVisable)">
                AND isVisable = #{isVisable}			</if>
            <if test="@Ognl@isNotEmpty(sort)">
                AND sort = #{sort}			</if>
            <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type}			</if>
            <if test="@Ognl@isNotEmpty(url)">
                AND url = #{url}			</if>
            <if test="@Ognl@isNotEmpty(productnamePk)">
                AND productnamePk = #{productnamePk}			</if>
            <if test="@Ognl@isNotEmpty(insertTimeStart)">
                AND str_to_date(insertTime,'%Y-%m-%d') >= #{insertTimeStart}			</if>
            <if test="@Ognl@isNotEmpty(insertTimeEnd)">
                AND str_to_date(insertTime,'%Y-%m-%d') &lt;= #{insertTimeEnd}			</if>
            <if test="@Ognl@isNotEmpty(updateTimeBegin)">
                AND updateTime >= #{updateTimeBegin}			</if>
            <if test="@Ognl@isNotEmpty(updateTimeEnd)">
                AND updateTime &lt;= #{updateTimeEnd}			</if>

            AND isDelete = 1
        </where>
    </sql>

    <!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
    <select id="searchGrid" resultType="cn.cf.dto.SysHomeBannerMassageExtDto"
            parameterType="java.util.Map">
        SELECT
        m.pk pk,m.isDelete isDelete,m.isVisable isVisable,m.sort sort,m.type type,m.url url,m.linkUrl linkUrl,m.productnamePk productnamePk,
        p.productName productName,m.insertTime insertTime,m.updateTime updateTime
        FROM sys_home_bannermassage m LEFT JOIN sys_home_bannerproductname p ON m.productnamePk = p.pk
        where 1=1
        <if test="pk !=null and pk !=''">
            AND m.pk = #{pk}			</if>
        <if test="isDelete !=null and isDelete !=''">
            AND m.isDelete = #{isDelete}			</if>
        <if test="isVisable !=null and isVisable !=''">
            AND m.isVisable = #{isVisable}			</if>
        <if test="sort !=null and sort !=''">
            AND m.sort = #{sort}			</if>
        <if test="type !=null and type !=''">
            AND m.type = #{type}			</if>
        <if test="url !=null and url !=''">
            AND m.url = #{url}			</if>
        <if test="linkUrl !=null and linkUrl !=''">
            AND m.linkUrl = #{linkUrl}			</if>
        <if test="productnamePk !=null and productnamePk !=''">
            AND m.productnamePk = #{productnamePk}			</if>
        <if test="insertTimeStart !=null and insertTimeStart !=''">
            AND str_to_date(m.insertTime,'%Y-%m-%d') >= #{insertTimeStart}			</if>
        <if test="insertTimeEnd !=null and insertTimeEnd !=''">
            AND str_to_date(m.insertTime,'%Y-%m-%d') &lt;= #{insertTimeEnd}			</if>
        <if test="updateTimeBegin !=null and updateTimeBegin !=''">
            AND m.updateTime >= #{updateTimeBegin}			</if>
        <if test="updateTimeEnd !=null and updateTimeEnd !=''">
            AND m.updateTime &lt;= #{updateTimeEnd}			</if>
        <if test="productName !=null and productName !=''">
            AND p.productName = #{productName}			</if>
        AND m.isDelete = 1

        <if test="orderName != null">
            order by ${orderName} ${orderType}
        </if>
        <if test="limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="searchGridCount" parameterType="java.util.Map"
            resultType="int">
        SELECT count(*) FROM sys_home_bannermassage
        <include refid="searchGridWhere" />
    </select>

    <update id="updateBannerByProductnamePk"
            parameterType="java.lang.String">
        UPDATE sys_home_bannermassage
        <set>
            isDelete= 2
        </set>
        where productnamePk = #{productnamePk}
    </update>

    <update id="updateObj" parameterType="cn.cf.dto.SysHomeBannerMassageDto">
        UPDATE  sys_home_bannermassage
        <set>
            <if test="productnamePk !=null and productnamePk !=''">
                productnamePk=#{productnamePk},
            </if>
            <if test="url !=null and url !=''">
                url=#{url},
            </if>
            <if test="sort !=null and sort !=''">
                sort=#{sort},
            </if>
            <if test="isVisable !=null and isVisable !=''">
                isVisable=#{isVisable},
            </if>
            <if test="isDelete !=null and isDelete !=''">
                isDelete=#{isDelete},
            </if>
            <if test="type !=null and type !=''">
                type=#{type},
            </if>
            <if test="insertTime !=null and insertTime !=''">
                insertTime=#{insertTime},
            </if>
            <if test="updateTime!=null and updateTime!=''">
                updateTime=#{updateTime},
            </if>
            <if test="url !=null and url !=''">
                url=#{url},
            </if>
            <if test="linkUrl !=null">
                linkUrl=#{linkUrl},
            </if>
        </set>
        where pk = #{pk}
    </update>
</mapper>