<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.SysPropertyExtDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		pk,productPk,productName,productShotName,content,type
	    ]]>
	</sql>

	<update id="updateObj" parameterType="cn.cf.dto.SysPropertyDto">
        UPDATE sys_property
        <set>
		<if test="productPk != null and productPk != ''">
			productPk = #{productPk} ,
		</if>
			<if test="productName != null and productName != ''">
				productName = #{productName} ,
			</if>
			<if test="productShotName != null and productShotName != ''">
				productShotName = #{productShotName} ,
			</if>
			<if test="content != null and content != ''">
				content = #{content} ,
			</if>
			<if test="type != null and type != ''">
				type = #{type}
			</if>
		</set>
        WHERE 
        	pk = #{pk}
	</update>

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}			</if>
			<if test="@Ognl@isNotEmpty(productPk)">
				AND productPk = #{productPk}			</if>
			<if test="@Ognl@isNotEmpty(productName)">
				AND productName LIKE '%${productName}%' 			</if>
			<if test="@Ognl@isNotEmpty(productShotName)">
				AND productShotName = #{productShotName}			</if>
			<if test="@Ognl@isNotEmpty(content)">
				AND content = #{content}			</if>
			<if test="@Ognl@isNotEmpty(type)">
				AND type = #{type}			</if>
		</where>
	</sql>

	<select id="searchGridExtCount" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM sys_property
		<include refid="searchGridWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="searchGridExt" resultType="cn.cf.dto.SysPropertyDto"
		parameterType="java.util.Map">
		SELECT
		<include refid="columns" />
		FROM sys_property
		<include refid="searchGridWhere" />
		<if test="orderName != null">
			order by ${orderName} ${orderType}
		</if>
		<if test="limit != null">
			limit #{start},#{limit}
		</if>
	</select>
	<select id="getByProductType" resultType="cn.cf.dto.SysPropertyDto"
		parameterType="java.lang.Integer">
		SELECT
		  *
		FROM
		(
		<if test="type != null and type == 2">
		SELECT pk as productPk,bankName as productName from b2b_economics_bank where isVisable = 1
			<if test="productPk != null and productPk != ''">
				and pk = #{productPk}
			</if>
		</if>
		<if test="type != null and type == 5">
		SELECT pk as productPk,name as productName,shotName as productShotName  from b2b_bill_goods where isVisable = 1 and isDelete = 1
			<if test="productPk != null and productPk != ''">
				and pk = #{productPk}
			</if>
		</if>
		<if test="type != null and type == 4">
		SELECT pk as productPk,name as productName,shotName as productShotName    from b2b_creditreport_goods where isVisable = 1 and isDelete = 1
			<if test="productPk != null and productPk != ''">
				and pk = #{productPk}
			</if>
		</if>
		<if test="type != null and type == 3">
		SELECT pk as productPk,name as productName,shotName as productShotName  from b2b_onlinepay_goods where isVisable = 1 and isDelete = 1
			<if test="productPk != null and productPk != ''">
				and pk = #{productPk}
			</if>
		</if>
		) T
	</select>
</mapper>

