<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.cf.dao.B2bCustomerManagementDaoEx">

	<sql id="searchGridWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(pk)">
				AND pk = #{pk}
			</if>
			<if test="@Ognl@isNotEmpty(storePk)">
				AND storePk = #{storePk}
			</if>
			<if test="@Ognl@isNotEmpty(purchaserPk)">

			</if>
		</where>
	</sql>

	<select id="isCustomerReaped" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) FROM b2b_customer_management
		where
		storePk = #{storePk}
		AND purchaserPk = #{purchaserPk}
		<if test="@Ognl@isNotEmpty(pk)">
			AND pk != #{pk}
		</if>

	</select>

	<delete id="deleteByMemberPk">
		DELETE FROM b2b_customer_salesman WHERE
		memberPk = #{memberPk}
	</delete>


</mapper>